html{
  box-sizing: border-box;

}


*, *::before, *::after{
  padding: 0px;
  margin: 0px;
  box-sizing: inherit;
}


body{
  background-attachment:fixed !important; 
  background:radial-gradient(circle,rgb(180, 197, 224), rgb(77, 102, 143));
}

 .calculator{
  position: absolute;
  width: 500px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 1px solid #ababab;
  border-radius: 2px;
} 
 
#calculator-screen{
  width: 100%;
  text-align: left;
  height: 80px;
  border: none;
  background-color: #262525;
  padding-right: 20px;
  padding-left: 10px;
  color: #fff;
  font-size: 5rem;
}

.calculator-keys{
  margin-top: 7px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 10px;
  padding:10px;
}

button{
  height: 60px;
}

#equal-btn{
  grid-area: 3/4/7/5;
  height: 100%
}








